@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.sections-header {
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.header {
    display: flex;
    background-color: #313131;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 29px;
}

.logo-container {
    height: fit-content;
    margin-right: 27px;
}

.header-logo-text {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}

.main-menu {
    display: flex;
    align-items: center;
}

.main-menu-item {
    list-style-type: none;
    margin: 0 18px;
}

.main-menu-item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}

.header-search {
    background-color: #000000;
    
}

.header-search img {
    padding: 27px 26px;
}

.main-menu-item-link:hover {
    color: #14B9D5;
}

.section-first {
    background-image: url(../img/section1/1\ background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

.title-section-first {
    color: white;
    padding-top: 165px;
    margin: 0;
    padding-bottom: 0;
}

.button {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    border: none;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    outline: none;
    margin: 45px 10px;
}

.btn-green {
    background-color: #89CA62;
}

.btn-blue {
    background-color: #14B9D5;
}

.img-section-second {
    display: flex;
    justify-content: center;
}

.post-container-img {
    width: 370px;
    margin-bottom: 30px;
    margin: 0 15px 30px 15px;
}

.post-container-item {
    color: #353A3D;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0 22px 0;
}

.section-third {
    height: 590px;
    background-image: url(../img/section2/parallax-bg.jpeg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template: 150px 90px 160px / auto;
}

.title-section-third {
    color: white;
    font-size: 32px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end; 
}

.section-third-hr {
    width: 60px;
    height: 3px;
    border: none;
    background-color: #18B4CF;
    align-self: flex-end;
}

.section-third-logos {
    margin: 0 25px;
}

.top-rated-section {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
}
.top-rated-item {
    width: 100%;
    height: 190px;
}

.news-container {
    display: grid;
    grid-template: repeat(4, auto) /  repeat(2, auto);
    column-gap: 60px;
    row-gap: 46px;
    justify-content: center;
    margin-bottom: 78px;
}

.news-container-top {
    display: grid;
    grid-template: auto / auto auto;
    column-gap: 35px;
    grid-column: 1 / 3;
}

.news-container-bottom {
    display: grid;
    grid-template: auto / auto auto;
    column-gap: 35px;
    grid-column: 1 / 3;
}

.news-item-type3 {
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    text-align: right;
}

.news-item-header {
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    margin-top: 12px;
    margin-right: 14px;
}

.news-item-text{
    margin: 15px 14px 0 10px;
    line-height: 21px;
}
.news-item-type1 {
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    text-align: right;
    display: flex;
}
.news-item-type2 {
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
    text-align: center;
}
.item-type1 {
    margin-top: 40px;
}

.footer{
    height: 80px;
    background-color: black;
    font-weight: 400;
    color: white;
    display: grid;
    grid-template: auto / auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 367px;
}
.footer-logo-container{
    display: flex;
    align-items: flex-start;
}

