@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: "Monserat", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #FF0000;
}

.menu-header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-header li {
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
    margin-right:72px ;
    font-weight: bold;
}

.menu-header:last-child {
    margin-right: 0px;
}

.background-main {
    width: 100%;
    margin-bottom: 45px;    
}

.topic-main {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 38px;
}

.p-main {
    font-size: 16px;
    text-align: center;
    margin-bottom: 28px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 28px 67px;

}

.button-container {
    text-align: center;
    margin-top: 36px;
}

.buttom {
    background: #FF0000;
    border: none;
    border-radius: 4px;
    height: 51px;
    width: 191px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}



.footer {
    text-align: right;
    font-size: 16px;
    margin: 40px 105px 29px 713px;
    letter-spacing: 2.4px;
    line-height: 20px;
}



