@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.wrapper {
  width: 1030px;
  margin: 0 auto;
  padding: 60px 0px 30px;
}

body {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #f26522;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  background: url(../img/logo/logo_white.png);
  float: left;
  width: 47px;
  height: 44px;
}

.logo_text {
  display: inline-block;
  margin-left: 15px;
}

.milan {
  font-size: 29px;
  font-weight: bold;
}

.holidays {
  font-size: 18px;
  font-weight: bold;
}

.logo:hover .logo_img {
  background: url(../img/logo/logo_orange.png);
}

.logo:hover .logo_text {
  color: #f26522;
}

.contact {
  font-size: 18px;
  text-align: right;
}

.contact a {
  display: block;
}
.mail {
  padding-bottom: 19px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.tour_info {
  display: inline-block;
}

.name_tour {
  display: block;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

.tour_img {
  margin-top: 30px;
  background: linear-gradient(to top, black, white);
  border: 2px solid transparent;
  border-image-slice: 1;
}

.tour {
  display: flex;
  flex-direction: column;
}

.center {
  padding: 0 60px;
}

.slide_container {
  display: flex;
  justify-content: space-between;
  width: 295px;
  height: 55px;
}

.price {
  font-size: 20px;
  line-height: 20px;
}

.from {
  font-size: 10px;
  line-height: 10px;
}

.details {
  padding-top: 10px;
  font-size: 14px;
  line-height: 14px;
}











.footer {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  margin-top: 50px;
}
