
.body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-top: 25px;
    margin-bottom: 30px;
    }

.logo a {
    font-size: 80px;
    text-decoration: none;
    color: #00bfff;
    line-height: 94px;
}

.logo-ra {
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #35444F;
    width: 100%;
}

.menu-items {
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
    padding: 20px;
}

.menu-items a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 25px 20px 20px 20px;
}

.menu-items:hover {
    background: #222F3A;

}


.main {
    margin-top: 50px;
    display: flex;
}

.aside {
    width: 30%;
    border: 1px solid #000000;
    margin-right: 50px;
    height: 55%;
}

.aside-items {
    font-size: 27px;
    padding: 25px 70px 30px 40px;
}

.aside-items a {
    text-decoration: none;
    color: #485863;
    font-size: 25px;
    line-height: 25px;
}

.aside-items:hover {
    background: #DBDBDB;
    padding-left: 50px;
}

.aside-items a:hover {
    color: black;
}

.content-paragraph {
    width: 70%;
}

.logo-type {
    border: 1px solid #000000;
}

.logo-img {
    padding: 74px 303px 74px 304px;
    transition: 1s; /* Время эффекта */
}

.logo-img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.paragraph {
    margin-top: 35px;
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.paragraph-en {
    margin-top: 35px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    background-color:rgba(99, 105, 110, 0.48);
}

.footer-items {
    padding: 18px 25px;
      }


.footer-first-block {
    display: flex;

}

.footer-items a {
    text-decoration: none;
    color:#0C1927;
    font-size: 26px;
    line-height: 26px;
}

.footer-items a:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright span {
    font-size: 22px;
    line-height: 24px;
    color: #010101;
}




